{% trans_default_domain 'FOSUserBundle' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="/css/util.css">

                <div class="logo_login"><h1 class="text-center text-white" style="margin-top: 75px;font-size:70px;"></h1>
                <div class="container" style="position:absolute;top:185px;left: 375px;margin-top:30px;margin-bottom:30px; z-index:99; width:100%">
                <button onclick="window.location.href='{{ path('index') }}'" id="back-to-list" title="{% trans %}Go to list{% endtrans %}"><i class="fas fa-chevron-left"></i></button> 
<button onclick="window.location.href='{{ path('fos_user_registration_register') }}'" id="post-edit" title="{% trans %}Register{% endtrans %}"><i class="fas fa-user-plus"></i></button> 
                <div class="container text-center" style="background-color: var(--login-color); ;-webkit-border-radius: 10px;border-radius: 10px;">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="login100-form validate-form">
                <span class="login100-form-title p-t-20 p-b-45 noselect" style="font-size: 100px">{% trans %}Login{% endtrans %}</span>

                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                {% if error %}
                    <div class=" text-white bg-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <div class="input-group mb-3 text-center" style="text-align:center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user" style="width:5%;"></i></span>
                </div>
                <input type="text"
                           class="form-control p-3 text-center"
                           placeholder="Email"
                           id="username"
                           name="_username"
                           value="{{ last_username }}"
                           required="required"
                           autocomplete="username"
                           aria-label="Username"
                           aria-describedby="basic-addon1"
                           style="width:96%;color:var(--font-color)" />
                </div>

                <div class="input-group mb-3 text-center" style="text-align:center">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password"
                               class="form-control  p-3 text-center"
                               id="password"
                               name="_password"
                               required="required"
                               autocomplete="current-password"
                               placeholder="Password"
                               style="width:96%;color:var(--font-color)" />
                </div>

                <div id="remember" class="checkbox text-center noselect">
                    <label class="text-white" for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="nav-link btn btn-white btn-lg btn-block" name="_submit" type="submit">
                       {% trans %}Login{% endtrans %}
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-30 noselect">
                    <a href="{{ path('fos_user_resetting_request') }}" class="txt1">
                        {% trans %}Forgot Username / Password?{% endtrans %}
                    </a>
                </div>

                <div class="text-center w-full noselect">
                    <a class="txt1" href="{{ path('fos_user_registration_register') }}">
                        {% trans %}Create new account{% endtrans %}
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>

            


