{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block navbar %}

{% endblock %}

{% block fos_user_content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" type="text/css" href="/css/util.css">

        <div class="logo_login">
            <div class="container" style="position:absolute;top:185px;left: 375px;margin-top:30px;margin-bottom:30px; z-index:99; width:100%">
                <div class="container text-center" style="background-color: var(--login-color); ;-webkit-border-radius: 10px;border-radius: 10px;">
                <h1 class="text-center text-white" style="padding-top: 75px;font-size:70px;">{% trans %}CONGRATS{% endtrans %} <br> {{user.username|capitalize}}</h1>
                        <div class="bg-success" ></div>
                       
                    {% if targetUrl %}
                        <p>
                            <a href="{{ targetUrl }}">
                                {{ 'registration.back'|trans }}
                            </a>
                        </p>
                    {% endif %}
                    
                </div>
                <button onclick="window.location.href='{{ path('index') }}'" class="btn btn-success btn-lg btn-block pb-75" title="{% trans %}Go to list{% endtrans %}">{{ 'registration.confirmed'|trans }}<br>{% trans %}Press here to go back to frontpage{% endtrans %}</button> 
            </div>
        </div>
{% endblock fos_user_content %}
