{% block body %}
    <div class="container">

        <h1 class="text-white text-center">FRONTPAGE</h1>
        {% for topic in topics %}
        
        <br><h1>// {{ topic.name }}</h1><br>
        <table class="table table-striped table-bordered text-white">

            {% for post in posts %} 
                {% if post.topic == topic.name %}
                    <tr>
                    <td style="width: 6%">
                    {{ post.upvotes }}
                    </td>
                    <td>
                    <h5 class="small"><b>{{ post.Title }} * Posted by {{ post.author }} * {{ post.Date ? post.Date|date('Y-m-d H:i') : '' }}</b></h5>
                    {{ post.Data|length > 240 ? post.Data|raw|slice(0, 240) ~ '...' : post.Data|raw }} <a href="{{ path('post_show', {'id': post.id}) }}">Read more</a><br>
                    </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if topic.posts|length <= 0 %}
                <tr>
                    <td>
                        So empty
                    </td>
                </tr>
            {% endif %}

        </table>
        {% endfor %}
        {% if is_granted('ROLE_USER')%}
            <a href="{{ path('post_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}