{% block body %}    
<div class="logo_index"><h1 class="text-center text-white" style="margin-top: 50px;font-size:70px;">FRONTPAGE</h1></div>
    <div class="container" style="margin-top:30px;margin-bottom:30px;">

        {% for topic in topics| sortbyfield('name') %}
        <div class="container" style="background-color: #292858; margin-bottom:30px;-webkit-border-radius: 10px;border-radius: 10px;">
        <br><h1 class="text-center">// {{ topic.name }}</h1><br>
        <table class="table table-borderless " style="border-collapse:separate; border-spacing:1em;">

            {% for post in posts | sortbyfield('upvotes')|reverse%} 
                {% if post.topic == topic.name %}
                    <tr>
                    <section>
                    <td class="align-middle" style="width: 8%;">
                    {{ post.upvotes }} <a href="{{ path('default_post_upvote', {'id': post.id}) }}"> <img src="{{ asset('build/images/Heart.png') }}" width="25px" height="25px" /></a>
                    </td>
                    <td style=" background-color:  #32306B; margin:0 0 25px;overflow:hidden;padding:20px;-webkit-border-radius: 10px;border-radius: 10px; ">
                    <article class="post">
                    <p class="post-meta">{{ post.Title }} * <span>Posted by</span> {{ post.author }} * {{ post.Date ? post.Date|date('Y-m-d H:i') : '' }}</p>
                    <p>{{ post.Data|length > 240 ? post.Data|raw|slice(0, 240) ~ '...' : post.Data|raw }} <a href="{{ path('post_show', {'id': post.id}) }}">Read more</a> </p>
                    </article>
                    </td>
                    </section>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if topic.posts|length <= 0 %}
                <tr>
                    <td>
                        So empty
                    </td>
                </tr>
            {% endif %}

        </table></div>
        {% endfor %}
        {% if is_granted('ROLE_USER')%}
            <a href="{{ path('post_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}