{% block body %}  
<style>

</style>  
<div class="logo_index"><h1 class="text-center text-white" style="margin-top: 50px;font-size:70px;">FRONTPAGE</h1></div>
        {% if is_granted('ROLE_USER')%}        
        <button onclick="window.location.href='{{ path('post_new') }}'" id="post-add" title="Add post"><i class="fas fa-plus"></i></button> 
        {% endif %}
    <div class="container" style="margin-top:30px;margin-bottom:30px;">

        {% for topic in topics| sortbyfield('name') %}
        
        <div class="container" style="background-color: #292858; margin-bottom:30px;-webkit-border-radius: 10px;border-radius: 10px;">
        {% if topic.posts|length > 0 %}
        <br><h1 class="text-center">// {{ topic.name }}</h1><br>
        <table class="table table-borderless frontpage" id="seperator">

            {% for post in posts | sortbyfield('upvotes')|reverse%} 
                {% if post.topic == topic.name %}
                    <tr>
                    <section>
                    <td class="align-middle" style="width: 8%;">
                    {{ post.likedBy|length }}
                    {% if app.user in post.likedBy %} 
                    <img src="{{ asset('build/images/Heart.png') }}" id="unlike" onclick="window.location.href='{{ path('default_post_like', {'id': post.id}) }}'" width="25px" height="25px" />
                    {% else %} 
                    <img src="{{ asset('build/images/Heart.png') }}" id="like" onclick="window.location.href='{{ path('default_post_like', {'id': post.id}) }}'" width="25px" height="25px"/>
                    {% endif %}
                    </td>
                    <td class="frontpage" id="post">
                    <article class="post">
                    <p class="post-meta">{{ post.Title }} * <span>Posted by</span> {{ post.author }} * {{post.Date|time_diff|trans|raw ? : 'just now'}}</p>
                    <p>{{ post.Data|length > 240 ? post.Data|raw|slice(0, 240)|raw : post.Data|raw }} <a href="{{ path('post_show', {'id': post.id}) }}">... Read more</a></p> 
                    </article>
                    </td>
                    </section>
                    </tr>
                {% endif %}
            {% endfor %}
            {% endif %}

        </table></div>
        {% endfor %}
    </div>

{% endblock %}