{% extends 'base.html.twig' %}

{% block title %}Hello Homepage!{% endblock %}

{% block navbar %}
 <div id="topic-nav" class="text-center">
        <a href="{{ path('index') }}" class="nav-link"><i class="fas fa-home"></i></a>
        {% for topic in topics| sortbyfield('name') %}
            <a href="{{ path('topic_show', {'id': topic.id}) }}" class="nav-link">{{ topic.name }}</a>         
        {% endfor %}
</div>
<div id="login-nav" class="text-center">
<div class="row">
<a href="/lt/" class="nav-link col ml-3">
<span class="flag-icon flag-icon-lt"></span>
</a>
<a href="/en/" class="nav-link col mr-3">
<span class="flag-icon flag-icon-gb"></span>
</a></div>
    {% if is_granted('ROLE_USER')%}
<a href="{{ path('user_show',{'id' : app.user.id}) }}" class="nav-link">{{app.user.username|capitalize}}</a>
                    <a href="{{ path('post_index') }}" class="nav-link">{% trans %}My posts{% endtrans %}</a>


                    <a href="{{ path('topic_index') }}" class="nav-link">{% trans %}My topics{% endtrans %}</a>


                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link btn-danger text-white">{% trans %}Logout{% endtrans %}</a>

            {% else %}

<a href="{{ path('fos_user_security_login') }}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> {% trans %}Login{% endtrans %}</a>

                <a href="{{ path('fos_user_registration_register') }}" class="nav-link btn-danger text-white">{% trans %}Register{% endtrans %}</a>

            {% endif %}
</div>



{% endblock %}

{% block body %}
    {% include 'index/frontpage.html.twig' %}
{% endblock %}

