{{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="">
        {% trans %}Title{% endtrans %}<br>
        {{ form_widget(form.Title, {'attr': {'style': 'width:100%;'}}) }}

        <small>{{ form_help(form.Title) }}</small>

        <div class="form-error">
            {{ form_errors(form.Title) }}
        </div>
    </div>

    <div >
        {% trans %}Data{% endtrans %}<br>
        {{ form_widget(form.Data, {'attr': {'style': 'width:100%; height:200px;;'}}) }}

        <small>{{ form_help(form.Data) }}</small>

        <div class="form-error">
            {{ form_errors(form.Data) }}
        </div>
    </div>

    {{ form_row(form.image) }}
    
<br>
    <div class="text-center"><button class="btn btn-success" style="width:100%">{{ button_label|default('{% trans %}Save{% endtrans %}') }}</button></div>
    <div style="display:none;">
    {{ form_rest(form) }}
    </div>
{{ form_end(form) }}
