{% extends 'base.html.twig' %}

{% block title %}{{ post.Title }}{% endblock %}

{% block body %}
<a href="{{ path('post_index') }}">back to list</a> <br>
    <div class="container">
    <h1>{{ post.Title }}</h1> 
        <p class="post-meta"><h6 class="small">Post by {{ post.author }} </h6>
        <h6 class="small">{{ post.Date ? post.Date|date('Y-m-d H:i') : '' }}</h6></p>

    <table class="table table-striped table-borderless">
        <tbody>
            <tr>
                <td class="align-middle" style="width: 8%"> {{ post.likedBy|length }} <a href="{{ path('post_like', {'id': post.id}) }}">{% if app.user in post.likedBy %} <img src="{{ asset('build/images/Heart.png') }}" width="25px" height="25px" />{% else %} <img src="{{ asset('build/images/Heart.png') }}" width="25px" height="25px" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"/>{% endif %}</a></td>
                <td>{{ post.Data|raw|nl2br }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
    {% if is_granted('ROLE_USER') %}
    {{ include('comment/_form.html.twig') }}
    {% endif %}
    
    </div>
    {# <b>Upvotes: </b>{{ post.upvotes }}<br> #}

    <b>Comments:</b><br>
    <table class="table table-striped table-bordered">
    <tbody>
    {% for comm in post.comments %}
    <tr>
    <td class="align-middle" style="width: 8%"> {{ comm.likedBy|length }} <a href="{{ path('comment_like', {'id': comm.id}) }}">{% if app.user in comm.likedBy %} <img src="{{ asset('build/images/Heart.png') }}" width="25px" height="25px" />{% else %} <img src="{{ asset('build/images/Heart.png') }}" width="25px" height="25px" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"/>{% endif %}</a></td>
    <td>
        <p class="post-meta"><b>{{ comm.author }}</b> *
        {{ comm.Date ? comm.Date|date('Y-m-d H:i') : '' }}</p>
        <p>{{ comm.comment|nl2br }}</p>
        {# TODO ADD RESPOND#}
        {{dump(comm)}}
        {% if comm.response|length > 0 %}
        <p>
        {{dump(comm)}}
        {% for resp in comm.response %}
        <p>{{ resp.comment|nl2br }}</p>
        {% endfor %}
        </p>
        {% endif %}
</td></tr>
    {% endfor %}
            
        </tbody>
    </table>
    <a href="{{ path('post_index') }}">back to list</a>

    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

     {{ include('post/_delete_form.html.twig') }} 
    </div>
{% endblock %}
