{% extends 'base.html.twig' %}

{% block title %}{{user.username}}{% endblock %}

{% block navbar %}
 <div id="topic-nav" class="text-center">
        <a href="/" class="nav-link"><i class="fas fa-home"></i></a>
        {% for topic_ in topics| sortbyfield('name') %}
            <a href="{{ path('topic_show', {'id': topic_.id}) }}" class="nav-link">{{ topic_.name }}</a>         
        {% endfor %}
</div>
<div id="login-nav" class="text-center">
    {% if is_granted('ROLE_USER')%}

                    <a href="{{ path('post_index') }}" class="nav-link">Posts</a>


                    <a href="{{ path('topic_index') }}" class="nav-link">Topic</a>


                    <a href="{{ path('fos_user_security_logout') }}" class="nav-link btn-danger text-white">Logout</a>

            {% else %}

<a href="{{ path('fos_user_security_login') }}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Login</a>

                <a href="{{ path('fos_user_registration_register') }}" class="nav-link btn-danger text-white">Register</a>

            {% endif %}
</div>
<button onclick="window.location.href='/'" id="back-to-list" title="Go to list"><i class="fas fa-chevron-left"></i></button> 

{% endblock %}

{% block body %}

    {# Posts #}
    <div class="logo_index"><h1 class="text-center text-white" style="margin-top: 75px;font-size:70px;">{{ user.username }}</h1></div>
        <div class="container" style="position:absolute;top:185px;left: 375px;margin-top:30px;margin-bottom:30px;">
        <div class="container" style="background-color: var(--second_color); margin-bottom:30px;-webkit-border-radius: 10px;border-radius: 10px;">
            <br><h1 class="text-center">//Posts</h1><br>
            {% if user.createdposts|length > 0 %}

        <table class="table table-borderless frontpage" id="seperator">

            {% for post in user.createdposts | sortbyfield('upvotes')|reverse%} 
                    <tr>
                    <section>
                    <td class="align-middle" style="width: 8%;">
                    {{ post.likedBy|length }}
                    {% if app.user in post.likedBy %} 
                    <img src="{{ asset('build/images/Heart.png') }}" id="unlike" onclick="window.location.href='{{ path('default_post_like', {'id': post.id}) }}'" width="25px" height="25px" />
                    {% else %} 
                    <img src="{{ asset('build/images/Heart.png') }}" id="like" onclick="window.location.href='{{ path('default_post_like', {'id': post.id}) }}'" width="25px" height="25px"/>
                    {% endif %}
                    </td>
                    <td onclick="window.location.href='{{ path('post_show', {'id': post.id}) }}'" class="frontpage" id="post" style="cursor: pointer;">
                    <article class="post">
                    <p class="post-meta">{{ post.Title }} * <span>Posted by</span> <a href="{{ path('user_show', {'id': post.author.id}) }}">{{ post.author }}</a> * {{post.Date|time_diff|trans|raw ? : 'just now'}}</p>
                    <p>{{ post.Data|length > 240 ? post.Data|raw|slice(0, 240)|raw : post.Data|raw }} ... Click to read more</a></p> 
                    </article>
                    </td>
                    </section>
                    </tr>
            {% endfor %}
            {% else %}
            <tr>
            <td class="align-middle" style="width: 8%;"><td>
            <td class="frontpage" id="post" style="cursor: pointer;">
            <p><br>No post created yet, press add, to add new post<br>gif..</p>
            </td>
            </tr>
            {% endif %}


        </table></div>
    

    {# Topics #}

        <div class="container" style="background-color: var(--second_color); margin-bottom:30px;-webkit-border-radius: 10px;border-radius: 10px;">
            <br><h1 class="text-center">//Topics</h1><br>
            {% if user.topics|length > 0 %}

        <table class="table table-borderless frontpage" id="seperator">

            {% for topic in user.topics | sortbyfield('name')|reverse%} 
                    <tr>
                    <section>
                    <td onclick="window.location.href='{{ path('topic_show', {'id': topic.id}) }}'" class="frontpage" id="post" style="cursor: pointer;">
                    <article class="post">
                    <p class="post-meta">{{ topic.name }}</p>
                    <p>{{ topic.description|length > 240 ? topic.description|raw|slice(0, 240)|raw : topic.description|raw }} ... Click to read more</a></p> 
                    </article>
                    </td>
                    </section>
                    </tr>
            {% endfor %}
            {% else %}
            <tr>
            <td class="align-middle" style="width: 8%;"><td>
            <td class="frontpage" id="post" style="cursor: pointer;">
            <p><br>No topics created yet, press add, to add new topic<br>gif..</p><br>
            </td>
            </tr>
            {% endif %}


        </table></div>

    {# Comments #}

    <div class="container" style="background-color:var(--second_color); margin-bottom:30px;-webkit-border-radius: 10px;border-radius: 10px;">
<br><h1 class="text-center">//Comments</h1><br>
    <table class="table table-borderless frontpage" id="seperator">
    <tbody>
    {% for comm in user.comments| sortbyfield('likedCount')|reverse %}
    <tr>
    <td class="align-middle" style="width: 8%"> {{ comm.likedBy|length }} 
        {% if app.user in comm.likedBy %}
            <img src="{{ asset('build/images/Heart.png') }}" onclick="window.location.href='{{ path('comment_like', {'id': comm.id}) }}'" width="25px" height="25px" id="unlike" />
        {% else %} 
            <img src="{{ asset('build/images/Heart.png') }}" onclick="window.location.href='{{ path('comment_like', {'id': comm.id}) }}'" width="25px" height="25px" id="like"/>
        {% endif %}
     </td>
    <td class="comment">
        <p class="post-meta"><b>{{ comm.author }}</b> *
        {{comm.Date|time_diff|trans|raw ? : 'just now'}}</p>
        <p>{{ comm.comment|nl2br }}</p>
        {# TODO ADD RESPOND#}
        {% if comm.response|length > 0 %}
        <p>
        {{dump(comm)}}
        {% for resp in comm.response %}
        <p>{{ resp.comment|nl2br }}</p>
        {% endfor %}
        </p>
        {% endif %}
</td></tr>
    {% endfor %}
            
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
